
import logging
import re


logger = logging.getLogger("PostLogin")
logger.setLevel(logging.INFO)


def run(rem_link, **kwargs):
    ip = re.search(r"wlanuserip=(\d+\.\d+.\d+\.\d+)", rem_link).group(1)
    logger.info("Your ip is: {ip}".format(ip=ip.decode()))
